<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<context:property-placeholder location="classpath:datasource.properties" ignore-unresolvable="true" />

	<aop:aspectj-autoproxy />
	<bean id="dataSourceAspect" class="com.universal.support.aspect.DataSourceAspect">
		<property name="defaultDataSource" value="mysqlOnlDataSource" />
	</bean>
	<aop:config>
		<aop:aspect ref="dataSourceAspect">
			<aop:pointcut id="dataSourcePointCut" expression="execution(* com.universal.provider.user.mapper.*.*(..))" />
			<aop:before pointcut-ref="dataSourcePointCut" method="before" />
		</aop:aspect>
	</aop:config>

	<bean id="dynamicDataSource" class="com.universal.support.datasource.DynamicDataSource">
		<property name="targetDataSources">
			<map key-type="java.lang.String">
				<entry key="mysqlOnlDataSource" value-ref="mysqlOnlDataSource" />
				<entry key="mysqlSpuDataSource" value-ref="mysqlSpuDataSource" />
			</map>
		</property>
		<property name="defaultTargetDataSource" ref="mysqlOnlDataSource" />
	</bean>

	<bean id="mysqlOnlDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${mysql.onl.jdbc.url}" />
		<property name="username" value="${mysql.onl.jdbc.username}" />
		<property name="password" value="${mysql.onl.jdbc.password}" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="20" />
		<property name="minIdle" value="1" />
		<property name="maxWait" value="60000" />
		<property name="filters" value="stat,slf4j" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="connectionInitSqls" value="set names utf8mb4;" />
		<property name="connectionProperties" value="druid.stat.slowSqlMillis=1000" />
	</bean>

	<bean id="mysqlSpuDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="${mysql.spu.jdbc.url}" />
		<property name="username" value="${mysql.spu.jdbc.username}" />
		<property name="password" value="${mysql.spu.jdbc.password}" />
		<property name="initialSize" value="1" />
		<property name="maxActive" value="20" />
		<property name="minIdle" value="1" />
		<property name="maxWait" value="60000" />
		<property name="filters" value="stat,slf4j" />
		<property name="validationQuery" value="SELECT 1" />
		<property name="connectionInitSqls" value="set names utf8mb4;" />
		<property name="connectionProperties" value="druid.stat.slowSqlMillis=1000" />
	</bean>

	<bean id="dynamicSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
		<property name="mapperLocations" value="classpath*:com/universal/provider/user/**/mapper/xml/*.xml" />
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dynamicDataSource"></property>
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="dynamicSessionFactory" />
		<property name="basePackage" value="com.universal.provider.user.**.mapper" />
	</bean>

</beans>