<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd"
	default-lazy-init="false">

	<context:component-scan base-package="com.universal.web" />

	<bean id="validateRequestFilter" class="com.universal.web.support.filter.ValidateRequestFilter">
		<property name="excludeUris">
			<set>
				<value>/ask-for-token.shtml</value>
			</set>
		</property>
		<property name="bundles">
			<map>
				<entry key="J2FBFOAI6AJQN76U">
					<bean class="org.apache.commons.lang3.tuple.ImmutablePair">
						<constructor-arg value="^[3]\.[5](\.\d+)*" /><!-- version -->
						<constructor-arg value="^[^(?:(?i)IOS)].+" /><!-- os -->
					</bean>
				</entry>
				<entry key="APYQ9WATKK98V2EC">
					<bean class="org.apache.commons.lang3.tuple.ImmutablePair">
						<constructor-arg value="^[3]\.[5](\.\d+)*" /><!-- version -->
						<constructor-arg value="^(?:(?i)IOS).+" /><!-- os -->
					</bean>
				</entry>
			</map>
		</property>
	</bean>

</beans>